certifi==2020.11.8
chardet==4.0.0
click==7.1.2
Flask==1.1.2
Flask-Cors==3.0.9
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.1
MarkupSafe==1.1.1
more-itertools==8.7.0
music21==6.7.1
numpy
PyJWT==1.7.1
pymongo==3.11.2
python-dotenv==0.15.0
six==1.15.0
webcolors==1.11.1
Werkzeug==1.0.1