attrs==20.3.0
awscli==1.19.70
boto3==1.17.70
botocore==1.20.70
certifi==2020.11.8
chardet==4.0.0
click==7.1.2
colorama==0.4.3
docutils==0.15.2
Flask==1.1.2
Flask-Cors==3.0.9
fluidsynth==0.2
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==1.0.1
MarkupSafe==1.1.1
midi2audio==0.1.1
more-itertools==8.7.0
music21==6.7.1
numpy==1.20.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyasn1==0.4.8
pyFluidSynth==1.3.0
PyJWT==1.7.1
pymongo==3.11.2
pyparsing==2.4.7
pytest==6.2.2
python-dateutil==2.8.1
python-dotenv==0.15.0
PyYAML==5.4.1
rsa==4.7.2
s3transfer==0.4.2
six==1.15.0
toml==0.10.2
urllib3==1.26.4
webcolors==1.11.1
Werkzeug==1.0.1
